
// colors test
$color-1: #ffffff;
$color-2: #e4e4df;
$color-3: #b9b4b1;
$color-4: #63615d;
$color-5: #2a2622;
$color-bg-dark: #121212;
$color-bg-dark-alt: #1d1b1b;
$color-bg-light: #efefef;
$color-bg-light-alt: #fff;
$color-text-primary: #f8f8f8;
$color-text-secondary: #121212;


// colors client
$color-client-1: rgb(61, 219, 159);
$color-client-2: rgb(123, 36, 238);
$color-client-3: rgb(233, 104, 18);



// color scrollbar
$color-scrollbar-bg: $color-5;
$color-li-arrow: #61505A;


// color gradients
$color-gradient-gold: linear-gradient(120deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
$color-gradient-purplish: linear-gradient(120deg, #574650, #E6D5DF, #61505A, #DDCCD6, #6F5E68);
$color-gradient-black: linear-gradient(120deg, $color-5, $color-text-secondary, $color-bg-dark, $color-5, $color-text-secondary);
$color-gradient-white: linear-gradient(120deg, $color-1, $color-2, $color-1, $color-3, $color-2);

