@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: 'Kenoky';
    src: url('../assets/fonts/KenokyLight.ttf');
  }
  @font-face {
    font-family: 'Coffekan';
    src: url('../assets/fonts/CoffekanRegular.ttf');
  }



$font-base: 'Montserrat', sans-serif;
$font-alt: 'Kenoky';
$font-special: 'Coffekan';

// font weight
$font-weight-normal: 400;
$font-weight-thin: 100;
$font-weidht-bold: 800;
